@model EllinMMCProject.Models.Course

@{
    ViewData["Title"] = "Kurs Sil";
  
}

<h1>Kurs Sil</h1>

<h3>Bu kursu silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Kurs Adı
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Açıklama
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Fiyat
        </dt>
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-md btn-outline-secondary shadow">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
    </form>
</div>