<header class="header">
    <nav class="navbar">
        <div class="nav-container">
            <h1 class="contact-navbar-h1">MÜRACİƏT ET</h1>

            <div class="navbar-right-contact">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <a asp-controller="Home" asp-action="Index" class="nav-logo">
                    <img src="img/ellin.png" alt="EllinMMC" />
                </a>

                <ul class="nav-menu-contact">
                    <li class="nav-item dropdown">
                        <a href="index" class="nav-link">Ana səhifə</a>
                        <ul class="dropdown-menu">
                            <li><a href="about">Haqqımızda</a></li>
                            <li><a href="gallery" class="nav-link">Qalereya</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="academy" class="nav-link">Akademiya</a>
                        <ul class="dropdown-menu">
                            <li><a href="academy#programming">Proqramlaşdırma</a></li>
                            <li><a href="academy#design">Qrafik Dizayner</a></li>
                            <li><a href="academy#cooking">Aşbazlıq</a></li>
                            <li><a href="academy#confectionery">Qənnadçılıq</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="training" class="nav-link">Təlimlərimiz</a>
                    </li>
                    <li class="nav-item">
                        <a href="instructors" class="nav-link">Təlimçilər</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
