
@{
    ViewData["Title"] = "Read";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model GalleryProduct

<div>
    <h4>GalleryProduct</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Read" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

